<p id="notice"><%= notice %></p>

<p>
  <strong>Author name:</strong>
  <%= @author.author_name %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @author.Birth_year %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
