<%= form_with(model: book_table) do |form| %>
  <% if book_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_table.errors.count, "error") %> prohibited this book_table from being saved:</h2>

      <ul>
        <% book_table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Book_id %>
    <%= form.text_field :Book_id %>
  </div>

  <div class="field">
    <%= form.label :Book_title %>
    <%= form.text_field :Book_title %>
  </div>

  <div class="field">
    <%= form.label :Published_year %>
    <%= form.number_field :Published_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
