<p id="notice"><%= notice %></p>

<h1>Book Tables</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Book title</th>
      <th>Published year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_tables.each do |book_table| %>
      <tr>
        <td><%= book_table.Book_id %></td>
        <td><%= book_table.Book_title %></td>
        <td><%= book_table.Published_year %></td>
        <td><%= link_to 'Show', book_table %></td>
        <td><%= link_to 'Edit', edit_book_table_path(book_table) %></td>
        <td><%= link_to 'Destroy', book_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Table', new_book_table_path %>
